* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    padding: 10px;
    border: 1px solid gray;
}

header, footer {
    color: white;
    background-color: #ec6f75;
    padding: 15px;
}

img {
    border-radius: 50%;
}

p {
    font-weight: bold;
}

i {
    margin-right: 5px;
    font-size: 1.2em;
}